body {
  background-color: rgb(19, 17, 17);
  color: lightcyan;
}

img {
  width: 70%;
  height: 70%;
  padding-top: 4%;
}
section {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
}
h1 {
  text-align: center;
  font-size: 30px;
  text-decoration: underline wavy turquoise;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: beige;
}

a:hover {
  color: teal;
}

p {
  padding-top: 5px;
  color: rgb(244, 219, 223);
}
